{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BlackIce HackerSpace | Almaty{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    
    <!-- Navigation -->
    {% include 'website/index/navbar.html' %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% include 'website/index/footer.html' %}

    <script src="{% static 'website/js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
